:root {
  --mainBlue: #1d89ff;
}

@lost gutter 0px;

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  lost-center: 100%;
  text-align: center;
  & li:nth-of-type(1) {
    lost-column: 1 0;
    color: var(--mainBlue);
  }
  & li:nth-of-type(2) {
    lost-column: 1/8;
    lost-move: 3/8;
  }
  & li:nth-of-type(3) {
    lost-column: 1/8;
    lost-move: 3/8;
  }
}

.link {
  composes: flexCenter;
  font-size: 20px;
  color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 100px;
  width: 75%;
  margin: 0 auto 30px;
  padding: 15px 5%;
  &:hover {
    background-color: var(--mainBlue);
    color: #ffffff;
  }
}
