:root {
  --mainBlue: #1d89ff;
}

@lost gutter 0px;

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border: 1px solid var(--mainBlue);
  padding: 0 25px;
  border-radius: 30px;
  text-align: right;
  & h1 {
    color: var(--mainBlue);
  }
}

.navbar {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  & li {
    lost-column: 1/8;
  }
}

.link {
  composes: flexCenter;
  border-radius: 10px;
  font-size: 20px;
  color: var(--mainBlue);
  /* border: 1px solid var(--mainBlue); */
  padding: 15px 5%;
  cursor: pointer;
  &:hover {
    background-color: var(--mainBlue);
    color: #ffffff;
  }
}
